<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.parallax').parallax();
    		$('.fixed-action-btn').floatingActionButton();  
        $('.modal').modal();
        $('.tap-target').tapTarget();
    		$('.tabs').tabs();
        $('#webhook').html(
            window.location.protocol+'//'+
            window.location.host+'/predict'
        );
      });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body, html {
      height: 100%;
      margin: 0;
    }
      
    .bgimg-1, .bgimg-2, .bgimg-3 {
      position: relative;
      opacity: 0.65;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    .bgimg-1 {
      background-image: url("https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80");
      min-height: 100%;
    }

    .bgimg-2 {
      background-image: url("https://images.unsplash.com/photo-1496037236076-2fbad1c7ac1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80");
      min-height: 400px;
    }

    .bgimg-3 {
      background-image: url("https://images.unsplash.com/photo-1513755638256-fbef33c0ca1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
      min-height: 400px;
    }

    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
      }
    }  
    </style>
    <script type="text/javascript">
      function postMSG(){
        M.toast({html: 'Enviando a mensagem usando Ajax / jQuery!', classes: 'rounded'});
        var dados = ["513949","1","1","1","1","4.3","4.0","3.1","4.9","0","3","4","3"];
        var fields = ["MATRICULA","REPROVACOES_MAT1","REPROVACOES_MAT2","REPROVACOES_MAT3","REPROVACOES_MAT4","NOTA_MAT1","NOTA_MAT2","NOTA_MAT3","NOTA_MAT4","INGLES","H_AULA_PRES","TAREFAS_ONLINE","FALTAS"];
        var webhook = document.getElementById('webhook').value
        var REPROVACOES_MAT1 = document.getElementById('rep1').value;
        var REPROVACOES_MAT2 = document.getElementById('rep2').value;
        var REPROVACOES_MAT3 = document.getElementById('rep3').value;
        var REPROVACOES_MAT4 = document.getElementById('rep4').value;
        var NOTA_MAT1 = document.getElementById('nota1').value;
        var NOTA_MAT2 = document.getElementById('nota2').value;
        var NOTA_MAT3 = document.getElementById('nota3').value;
        var NOTA_MAT4 = document.getElementById('nota4').value;
        var INGLES = document.getElementById('obs1').value;
        var H_AULA_PRES = document.getElementById('obs2').value;
        var TAREFAS_ONLINE = document.getElementById('obs3').value;
        var FALTAS = document.getElementById('obs4').value;
        
        var dados = [REPROVACOES_MAT1,REPROVACOES_MAT2,REPROVACOES_MAT3,REPROVACOES_MAT4,
                    NOTA_MAT1,NOTA_MAT2,NOTA_MAT3,NOTA_MAT4,
                    INGLES,H_AULA_PRES,TAREFAS_ONLINE,FALTAS];
        // format payload
        var payload = {
          "fields": fields,
          "values": dados,
        };
        var sdata = JSON.stringify(payload)
        // log in console
        console.log(sdata)
        // post
         $.ajax({
           url: webhook,
           type: 'POST',
           processData: true,
           contentType: "application/json",
           data : sdata ,
           success : function(data) {
             // success will show on page
             console.log(data)
             $('#result').html("sucesso: <b>_PERFIL_CALCULADO</b> = "+JSON.stringify(data._PERFIL_CALCULADO));
           },
           error: function(data){
             // error will show error object
             console.log(data)
             $('#result').html("error:"+JSON.stringify(data));
          }
         });
      }
    </script>
    <title>Frontend Web Server</title>
  </head>
  <body>
    <div class="bgimg-3">
      <div class="container">
        <div class="col s2">&nbsp;</div>
        <div class="col s12">
          <div class="card grey darken-4">
            <div class="card-content white-text">
              <div class="card-title">NOME ALUNO <br>
                Envio para Machine Learning</div>
            </div>
            <div class="card-content white">
              <table class="bordered">
                <tbody>
                  <tr>
                    <td>URL API</td>
                    <td>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">import_export</i>
                        <textarea id="webhook" class="materialize-textarea"></textarea>
                        <label for="webhook">Digite a URL</label> </div>
                    </td>
                  </tr>
                  <tr>
                  
                  <tr>
                    <td>REPROVAÇÕES</td>
                    <td>
                        <div class="card col s12 m7">
                          <div class="card-content">
                            <p>Quantidade de Reprovações por matéria</p>
                          </div>
                          <div class="card horizontal">
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#rep1">MATERIA 1</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3"> 
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="rep1" class="materialize-textarea">1</textarea>
                                    <label for="rep1"> Digite a quantidade de reprovações</label> </div>
                                </div>
                              </div>
                            </div>    
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#rep2">MATERIA 2</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3">
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="rep2" class="materialize-textarea">1</textarea>
                                    <label for="rep2"> Digite a quantidade de reprovações</label> </div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                          <div class="card horizontal">
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#rep3">MATERIA 3</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3">
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="rep3" class="materialize-textarea">1</textarea>
                                    <label for="rep3"> Digite a quantidade de reprovações</label> </div>
                                </div>
                              </div>
                            </div>    
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#rep4">MATERIA 4</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3">
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="rep4" class="materialize-textarea">1</textarea>
                                    <label for="rep4"> Digite a quantidade de reprovações</label> </div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                        </div>
                      </td>
                  </tr>

                  <tr>
                    <td>NOTAS</td>
                    <td>
                        <div class="card col s12 m7">
                          <div class="card-content">
                            <p>Notas por matéria</p>
                          </div>
                          <div class="card horizontal">
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#nota1">MATERIA 1</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3"> 
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="nota1" class="materialize-textarea">7</textarea>
                                    <label for="nota1"> Digite a nota na matéria </label> </div>
                                </div>
                              </div>
                            </div>    
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#rep2">MATERIA 2</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3"> 
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="nota2" class="materialize-textarea">8</textarea>
                                    <label for="nota2"> Digite a nota na matéria </label> </div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                          <div class="card horizontal">
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#nota3">MATERIA 3</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3"> 
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="nota3" class="materialize-textarea">9</textarea>
                                    <label for="nota3"> Digite a nota na matéria </label> </div>
                                </div>
                              </div>
                            </div>    
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#nota4">MATERIA 4</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3"> 
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="nota4" class="materialize-textarea">7</textarea>
                                    <label for="nota4"> Digite a nota na matéria </label> </div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                        </div>
                      </td>
                  </tr>
                  
                  
                  <tr>
                    <td>OBSERVAÇÕES</td>
                    <td>
                        <div class="card col s12 m7">
                          <div class="card-content">
                            <p>Outras informações do aluno</p>
                          </div>
                          <div class="card horizontal">
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#obs1">Tem conhecimento em língua inglesa</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3"> 
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="obs1" class="materialize-textarea">1</textarea>
                                    <label for="obs1">Digite 0 para NÃO ou 1 para SIM</label> </div>
                                </div>
                              </div>
                            </div>    
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#obs2">Horas de estudo presencial</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3">
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="obs2" class="materialize-textarea">1</textarea>
                                    <label for="obs2">Digite a observação</label> </div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                          <div class="card horizontal">
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#obs3">Qtd horas de estudo presencial</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3">
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="obs3" class="materialize-textarea">1</textarea>
                                    <label for="obs3">Digite a observação</label> </div>
                                </div>
                              </div>
                            </div>    
                            <div class="card-stacked">
                              <div class="card-content">
                                <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s6"><a href="#obs4">Qtd de faltas acumuladas</a></li>
                                </div>
                              </div>
                              <div class="card-action">
                                <div>
                                  <div class="input-field col s3">
                                    <i class="material-icons prefix">error</i>
                                    <textarea id="obs4" class="materialize-textarea">1</textarea>
                                    <label for="obs4">Digite a observação</label> </div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                        </div>
                      </td>
                  </tr>

                  <tr>
                    <td>Clicar</td>
                    <td>
                      <!-- <center><input value="enviar" onclick="postMSG()" type="button"></center> -->
                      <a class="waves-effect waves-light btn" onclick="postMSG()">enviar</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card grey darken-4">
            <div class="card-content white-text">
              <div class="card-title">Resultado: </div>
            </div>
            <div class="card-content white">
              <div id="result"></div>
              <table class="bordered">
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col s2">&nbsp;</div>
      </div>
      <div class="fixed-action-btn">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <a class="btn-floating btn-large blue"> <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a id="menu" class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating grey btn modal-trigger" href="#modal1"><i class="material-icons">attach_file</i></a></li>
          <li><a class="btn-floating purple" onclick="M.toast({html: 'Clicou em Apps!', classes: 'rounded'});">apps</a></li>
        </ul>
      </div>
      <!-- Element Showed  TODO - NON VAI --> <a id="menu" class="waves-effect waves-light btn btn-floating"><i
          class="material-icons">menu</i></a>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer"> <a href="#%21" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
      </div>
    </div>
  </body>
</html>
